img {
    border-radius: 10px;
}
h1 	{
    text-align: center;
}
body {
	background-image: url(../image/Autosave1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
a 	{ 
	text-decoration: none;
} 
img.Moment {	
	width: 25%;
}
img.Cadr {	
	width: 25%;
	height: 25%;
}
img.Main {
	width: 80%;
}
img.Episods {
	width: 40%;
}
img.Episod {
	width: 25%;
}
